/* Footer styles */
.footer {
    background-color: #f2f2f2;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .footer-content {
    margin-left:100px; 

  }
  
  .social-icons {
    display: flex;
    margin-left: 1100px;
    margin-top: -50px;
  }
  
  .social-icon {
    width: 30px;
    height: 30px;
    margin-right: 10px;
  }
  
  .logo{
    width: 200px;
    height: 100px;
    margin-left: 1100px;
  }


  /* MicrosoftSignInButton.css */

/* MicrosoftSignInButton.css */

.microsoft-sign-in-container {
  text-align: center;
  margin-top: 50px;
}

.logo-and-button {
  display: inline-flex; /* Use flexbox to display logo and button in one line */
  align-items: center; /* Align items vertically in the center */
}

.microsoft-logo {
  width: 40px;
  margin-right: 10px; /* Add space between logo and button */
}



